<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
  <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
  <script src="static/index.js"></script>
</head>
<body>
  <div class="container">
    <div class="jumbotron">
      <div class="content">
        <p>Linda is 31 years old, single, outspoken, and very bright.
        She majored in philosophy. As a student, she was deeply concerned with issues of
        discrimination and social justice, and also participated in anti-nuclear demonstrations.</p>

        <p>Which is more probable?</p>

        <form>

          <div class="radio">
            <label>
              <input type="radio" name="linda" value="right">Linda is a bank teller.</br>
            </label>
          </div>

          <div class="radio">
            <label>
              <input type="radio" name="linda" value="wrong"/>Linda is a bank teller and is active in the feminist movement.
            </label>
          </div>

          <button id="submit" class="btn btn-success">Submit</button>
        </form>
      </div>
    </div>
  </div>
</body>
</html>
